.nahak-Introduction {
    padding: 2em 0;
    font-size: 15px;
    .about-video {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0.75 0.25em 0.93em rgba(0, 0, 0, 0.15);
        border-radius: 2.5em;
        background: #119699;

        &::before {
            content: "";
            background: #119699;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            transition: all ease-in-out 0.5s;
        }

        .parent-icon {
            position: absolute;
            transition: all ease-in-out 0.5s;
            z-index: 2;
            top: 50%;
            cursor: pointer;
            transform: translate3d(0, -50%, 0);
            width: 6em;
            height: 6em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                height: 100%;
            }
        }
        &.active-video {
            .parent-icon,
            &::before {
                opacity: 0;
                visibility: collapse;
            }
            video {
                object-fit: contain;
            }
        }
        video {
            height: 32em;
            width: 100%;
            object-fit: cover;
        }
    }

    .col-main {
        display: flex;
        flex-direction: column;
        row-gap: 2.2em;
        justify-content: center;

        @media only screen and (min-width: 991px) {
            padding-right: 3em;
        }

        .title {
            font-weight: 700;
            font-size: 2.75em;
            color: #03191d;
        }
        .para {
            font-weight: 300;
            font-size: 0.93em;
            color: #4d6071;
            line-height: 2.8em;
            text-align: justify;
        }

        .more {
            background: #119699;
            border-radius: 0.625em;
            color: #fff;
            text-decoration: none;
            padding: 1em 1.5em;
            font-weight: 500;
            display: block;
            width: max-content;
            min-width: 14em;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1em;
            font-size: 1.125em;

            &::after {
                content: "";
                width: 1.11em;
                height: 1em;
                background: url(../images/home/arrow-left-2.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                display: block;
                transition: all ease-in-out 0.2s;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .nahak-Introduction {
        font-size: 14px;
        .container {
            .row {
                row-gap: 3em;
                .col-video {
                    order: 2;

                    .about-video {
                        width: 100%;
                        max-width: 25em;
                        margin: auto;
                    }
                }
                .col-main {
                    order: 1;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .nahak-Introduction {
        font-size: 13;
    }
}
@media only screen and (max-width: 575px) {
    .nahak-Introduction {
        font-size: 12;
        .container {
            .row {
                .col-main {
                    row-gap: 1.7em;
                    .title {
                        font-size: 2.2em;
                        margin-bottom: 0;
                    }
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}
