.nahak-navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 600;
    width: 100%;
    transition: all ease-in-out 0.3s;
    border-bottom: 0.2em solid transparent;
    font-size: 15px;

    ul {
        margin: 0;
        list-style: none;
    }

    &.logined {
        button.login {
            display: none !important;
        }
    }

    .main-navbar {
        order: 1;
        position: relative;
        padding: 2.43em 0;
        transition: all ease-in-out 0.3s;

        .container {
            display: flex;
            align-items: center;
            position: relative;

            .left-section {
                .menu-icon {
                    width: 1.5em;
                    height: 1.5em;
                    cursor: pointer;
                    display: none;
                }

                .logo-wrapper {
                    transition: all ease-in-out 0.3s;
                    padding: 0;
                    margin-bottom: 0em;
                    display: flex;
                    align-items: center;
                    column-gap: 1em;

                    a {
                        img {
                            width: 3.32em;
                            transition: all ease-in-out 0.3s;
                        }

                        .white-logo {
                            display: none;
                        }
                    }
                    //
                    .title {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.687em;

                        span {
                            font-weight: 800;
                            font-size: 1.125em;
                            color: #03191d;

                            &:last-child {
                                font-weight: 400;
                                font-size: 0.812em;
                                color: #4d6071;
                            }
                        }
                    }
                }
            }

            .middle-section {
                display: flex;
                flex-direction: column;
                margin: 0 2.5em 0 auto;
                transition: all ease-in-out 0.3s;
                display: flex;
                flex-direction: column;

                .menu-links {
                    margin: 0;
                    list-style: none;
                    transition: all ease-in-out 0.3s;
                    order: 2;

                    & > li {
                        float: right;

                        &.active {
                            & > .parent-title {
                                a {
                                    color: #03191d;

                                    &::after {
                                        content: "";
                                        background: url(../images/links-Star.svg);
                                        width: 1em;
                                        height: 1em;
                                        background-size: cover;
                                        position: absolute;
                                        top: calc(100% + 2em);
                                        left: 50%;
                                        transform: translate3d(-50%, 0, 0);
                                        transition: all ease-in-out 0.3s;
                                    }
                                }
                            }
                        }

                        & > .parent-title {
                            a {
                                color: #7a8c9c;
                                font-size: 1em;
                                text-decoration: none;
                                transition: all ease-in-out 0.3s;
                                position: relative;
                                font-weight: 400;
                            }
                            .icon-down {
                                display: none;
                            }
                        }

                        &.has-sub-menu {
                            a {
                                &::before {
                                    content: none;
                                }
                            }
                        }

                        & + li {
                            margin-right: 2em;
                        }

                        &:hover {
                            .parent-sub-menu {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        .parent-sub-menu {
                            position: absolute;
                            visibility: collapse;
                            opacity: 0;
                            transition: all ease-in-out 0.3s;
                            display: block;
                            right: 0;
                            left: 7.8em;
                            z-index: 1;

                            & > .sub-menu {
                                background: #fff;
                                list-style: none;
                                margin: 0;
                                margin-top: 2em;
                                box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.08);
                                display: flex;
                                padding: 1.8em 0.9em;
                                border-radius: 0.56em;

                                & > ul {
                                    width: 25%;
                                    margin: 0;
                                    list-style: none;
                                    padding: 0 0.84em;

                                    & > li {
                                        width: 13.68em;

                                        & + li {
                                            padding-top: 1.8em;
                                        }

                                        .parent-title {
                                            border-bottom: 1px solid #03191d;
                                            padding-bottom: 0.6em;
                                            margin-bottom: 0.8em;
                                            display: flex;
                                            justify-content: space-between;

                                            & > a {
                                                color: #03191d;
                                                font-size: 0.95em;
                                                margin-left: 1em;
                                                text-decoration: none;
                                            }
                                            .icon-down {
                                                font-size: 0.9em;
                                                margin-right: 1em;
                                                transform: translateY(0.1em);
                                                cursor: pointer;
                                                transition: all ease-in-out 0.3s;
                                                stroke: #fb782f;
                                                fill: none;
                                                width: 1em;
                                                height: 1em;
                                                &.is-target-visible {
                                                    transform: rotateX(180deg);
                                                }
                                            }
                                        }

                                        .sub-sub-menu {
                                            li {
                                                & > a {
                                                    color: #7a8c9c;
                                                    font-size: 0.9em;
                                                    margin-left: 1em;
                                                    text-decoration: none;
                                                }
                                                & + li {
                                                    margin-top: 0.5em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right-section {
                transition: all ease-in-out 0.3s;
                .tools {
                    transition: all ease-in-out 0.3s;
                    order: 3;
                    display: flex;
                    column-gap: 0.562em;
                    align-items: center;

                    .login,
                    .job-re {
                        padding: 1em 1.43em;
                        transition: all ease-in-out 0.3s;
                        background: #119699;
                        border-radius: 0.562em;
                        display: flex;
                        align-items: center;
                        column-gap: 1em;
                        text-decoration: none;

                        span {
                            font-size: 1em;
                            color: #ffffff;
                        }
                        svg {
                            height: 1.5em;
                            width: 1.5em;
                            fill: #fff;
                        }
                    }

                    .job-re {
                        background: #f2f7fa;
                        span {
                            color: #4d6071;
                        }

                        svg {
                            fill: transparent;
                            stroke: #4d6071;
                        }
                    }

                    .parent-search {
                        position: relative;
                        width: 0;
                        height: 3.18em;

                        .parent-liferay-search {
                            position: absolute;
                            left: 0;
                            .liferay-search {
                                display: flex;
                                align-items: center;
                                border-radius: 0.562em;
                                height: 3.18em;
                                padding: 0 0.7em;
                                transition: all ease-in-out 0.3s;
                                position: relative;
                                z-index: 605;
                                border-radius: 1em;
                                // background: red;

                                svg {
                                    transition: all ease-in-out 0.5s;
                                    width: 2em;
                                    height: 2em;
                                    stroke: #4d6071;
                                }

                                input[type="search"] {
                                    border: 0;
                                    outline: 0;
                                    background: transparent;
                                    color: #03191d;
                                    font-size: 1em;
                                    width: 0;
                                    overflow: hidden;
                                    transition: all ease-in-out 0.4s;

                                    &::placeholder {
                                        color: #003459;
                                    }
                                }
                            }
                            &:hover {
                                .liferay-search {
                                    background: #f2f7fa;

                                    .m-icon-search {
                                        transform: rotate(360deg);
                                        &::before {
                                            color: var(--on-hover-color);
                                        }
                                    }
                                    input[type="search"] {
                                        width: 15.12em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .toggle-box {
        order: 2;
    }

    @media only screen and (min-width: 1279px) {
        &.fixed {
            background: #fff;
            border-bottom: 1px solid #ccd3dd;

            .main-navbar {
                padding: 1.4em 0;

                .link.active a {
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1279px) {
    .nahak-navbar {
        box-shadow: -0.31em 0.3em 0.5em rgba(0, 0, 0, 0.07);
        position: sticky;
        top: 0;
        background: #fff;
        border-bottom: 1px solid #ccd3dd;

        .main-navbar {
            padding: 1.5em 0;

            .container {
                align-items: center;
                .left-section {
                    display: flex;
                    align-items: center;
                    .menu-icon {
                        display: block;
                        transform: rotateY(180deg);
                        margin-left: 1.9em;
                        cursor: pointer;
                        stroke: #4d6071;
                    }
                }
                .right-section {
                    margin-top: 0;
                    margin-right: auto;
                    display: flex;

                    .tools {
                        .parent-search {
                            display: none;
                        }

                        .login {
                            font-size: 0.92em;
                        }
                        .job-re {
                            display: none;
                        }
                    }
                }
                //
                .middle-section {
                    display: none;
                }
            }
        }

        .toggle-box {
            width: 23em;
            position: absolute !important;
            z-index: 1;
            top: calc(100%);
            right: 0;
            max-width: 100%;
            max-height: calc(100vh - 15em);
            overflow-y: auto;
            box-shadow: -0.31em 0.3em 0.5em rgba(0, 0, 0, 0.07);

            .main-box {
                background: #fff;
                .parent-liferay-search {
                    padding: 1.3em 0;
                    background: #f2f7fa;
                    display: flex;
                    justify-content: center;

                    .liferay-search {
                        display: flex;
                        align-items: center;
                        border-radius: 50%;
                        height: 3em;
                        padding: 0 0.7em;
                        transition: all ease-in-out 0.3s;
                        position: relative;
                        z-index: 605;
                        border-radius: 1em;
                        background: #fff;
                        max-width: 100%;
                        width: 18.37em;

                        svg {
                            transition: all ease-in-out 0.5s;
                            width: 2em;
                            height: 2em;
                            stroke: #4d6071;
                        }

                        input[type="search"] {
                            border: 0;
                            outline: 0;
                            background: transparent;
                            color: #213e73;
                            font-size: 13px;
                            width: 100%;
                            overflow: hidden;
                            transition: all ease-in-out 0.4s;

                            &::placeholder {
                                color: #213e73;
                            }
                        }
                    }
                }

                .menu-links {
                    list-style: none;
                    width: 100%;
                    padding: 0.9em 0.9em 0.3em 0.9em;
                    margin: 0;

                    & > .link {
                        z-index: 1001;
                        text-decoration: none;
                        position: relative;
                        padding: 0;
                        text-align: center;
                        border-bottom: 0.1em solid #119699;
                        margin: auto;

                        &:last-child {
                            border-bottom: none;
                        }

                        & > .parent-title {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0.7em 1em;

                            a {
                                color: #03191d;
                                display: block;
                                font-size: 0.96em;
                                text-decoration: none;
                                text-align: left;
                                width: max-content;
                                transition: all ease-in-out 0.3s;
                                order: 1;
                            }

                            .icon-down {
                                cursor: pointer;
                                order: 2;
                                transition: all ease-in-out 0.3s;
                                fill: none;
                                width: 1em;
                                height: 1em;
                                stroke: #fb782f;

                                &.is-target-visible {
                                    transform: rotateX(180deg) translateY(-0.05em);
                                }
                            }
                        }

                        .parent-sub-menu {
                            & > .sub-menu {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                border-top: 0.1em solid #119699;
                                & > ul > li,
                                & > li {
                                    display: flex;
                                    flex-direction: column;

                                    &:first-child {
                                        margin-top: 0.85em;
                                    }
                                    &:last-child {
                                        margin-bottom: 0.85em;
                                    }

                                    .parent-title {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 0 1em;
                                        & > a {
                                            text-decoration: none;
                                            font-size: 0.95em;
                                            color: #03191d;
                                            transition: all ease-in-out 0.2s;
                                            margin: 0;
                                            text-align: left;
                                            transition: all ease-in-out 0.3s;
                                        }

                                        .icon-down {
                                            cursor: pointer;
                                            order: 2;
                                            transition: all ease-in-out 0.3s;
                                            fill: none;
                                            width: 0.9em;
                                            height: 0.9em;
                                            stroke: #fb782f;
                                            margin-top: -0.25em;

                                            &.is-target-visible {
                                                transform: rotateX(180deg) translateY(-0.15em);
                                            }
                                        }
                                    }

                                    & + li {
                                        margin-top: 0.85em;
                                    }

                                    // & > .sub-menu,
                                    & > .sub-sub-menu {
                                        list-style: none;
                                        margin: 0;

                                        li {
                                            text-align: right;
                                            margin-bottom: 0.5em;
                                            a {
                                                padding: 0 1em;
                                                color: #7a8c9c;
                                                font-size: 0.9em;
                                                text-decoration: none;
                                                margin-left: 0.9em;
                                                transition: all ease-in-out 0.3s;
                                            }

                                            &:first-child {
                                                margin-top: 0.5em;
                                            }
                                            &:last-child {
                                                margin-bottom: 0.2em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .job-re {
                    margin-top: 0.3em;
                    padding: 1em 1.43em;
                    transition: all ease-in-out 0.3s;
                    background: #f2f7fa;
                    display: flex;
                    align-items: center;
                    column-gap: 1em;
                    text-decoration: none;

                    span {
                        font-size: 1em;
                        color: #4d6071;
                    }
                    svg {
                        height: 1.5em;
                        width: 1.5em;
                        stroke: #4d6071;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .nahak-navbar {
        .main-navbar {
            padding: 1.2em 0;
            .container {
                .right-section {
                    .tools {
                        .login {
                            padding: 1em;
                            span {
                                display: none;
                            }
                            svg {
                                margin: 0;
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .nahak-navbar {
        font-size: 14px;
    }
}
