<!DOCTYPE html>
<html lang="en" class="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />

        <!-- import css -->
        <link rel="stylesheet" href="./css/liferay.css" />
        <link rel="stylesheet" href="./css/main-liferay.css" />
        <link rel="stylesheet" href="./lib/atlas.css" />

        <link rel="stylesheet" href="./css/main.min.css" />
        <link rel="stylesheet" href="./css/navbar.min.css" />
        <link rel="stylesheet" href="./css/display-page/navbar.min.css" />
        <link rel="stylesheet" href="./css/about-nahak/nahak-breadcrumb.min.css" />
        <link rel="stylesheet" href="./css/about-nahak/nahak-para.min.css" />
        <link rel="stylesheet" href="./css/nahak-Introduction.min.css" />
        <link rel="stylesheet" href="./css/about-nahak/why-nahak.min.css" />
        <link rel="stylesheet" href="./css/about-nahak/nahak-team.min.css" />
        <link rel="stylesheet" href="./css/footer.min.css" />
        <link rel="stylesheet" href="./plugins/slider/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="./plugins/toggler/css/toggler.min.css" />
        <script src="./plugins/toggler/js/toggler.js"></script>
        <script>
            Toggler.Init();
        </script>

        <title>NAHAK</title>
    </head>
    <body class="home-page" dir="rtl">
        <div class="nahak-navbar">
            <div class="toggle-box" id="kord-navbar-menu">
                <div class="main-box">
                    <div class="parent-search">
                        <div class="parent-liferay-search">
                            <div class="liferay-search">
                                <input type="search" placeholder="جستجو.." />
                                <svg>
                                    <use href="./icons.svg#search"></use>
                                </svg>
                                <div class="close-btn" data-toggler="hide" href="#search-box">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <div class="left-section">
                        <svg class="menu-icon" data-toggler="toggle" href="#kord-navbar-menu">
                            <use href="./icons.svg#menu"></use>
                        </svg>
                        <div class="logo-wrapper">
                            <a href="#">
                                <img class="green-logo" src="./images/navbar-logo.png" alt="" />
                                <img class="white-logo" src="./images/display-page/logo-white.png" alt="" />
                            </a>
                            <a href="#" class="title">
                                <span>کار آفرینی نحک</span> <span>نو آوری ، حرکت، کار آفرینی</span>
                            </a>
                        </div>
                    </div>

                    <div class="middle-section">
                        <ul class="menu-links">
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">صفحه اصلی</a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#"> مشاغل </a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">مشاوران</a>
                                </div>
                            </li>
                            <li class="link active">
                                <div class="parent-title">
                                    <a href="#">تازه کار آفرینی</a>
                                </div>
                            </li>
                            <li class="link has-sub-menu">
                                <div class="parent-title">
                                    <svg class="icon-down" data-size-enable="1200" data-toggler="toggle" href="#m22">
                                        <use href="./icons.svg#down"></use>
                                    </svg>
                                    <a href="#" class="has-more-svg">درباره ما</a>
                                </div>
                                <div class="parent-sub-menu js-toggler" id="m22">
                                    <ul class="sub-menu" id="sub-menu-0">
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m144">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1445">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m154">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m15444">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1644">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1547">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">تماس با ما</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="right-section">
                        <div class="tools">
                            <div class="parent-search">
                                <div class="parent-liferay-search">
                                    <div class="liferay-search">
                                        <input type="search" placeholder="جستجو.." />
                                        <svg>
                                            <use href="./icons.svg#search"></use>
                                        </svg>
                                        <div class="close-btn" data-toggler="hide" href="#search-box">
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="login" href="#">
                                <svg>
                                    <use href="./icons.svg#profile"></use>
                                </svg>
                                <span>ورود و ثبت نام</span>
                            </a>

                            <a class="job-re" href="#">
                                <span>درخواست شغل</span>
                                <svg>
                                    <use href="./icons.svg#menu-left-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nahak-breadcrumb">
            <div class="container">
                <div>
                    <h3>درباره نحک</h3>
                    <div class="breadcrumb-wrapper">
                        <div class="demo" style="color: #fff">صقحه اصلی / درباره نحک</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nahak-Introduction mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 col-video">
                        <div class="about-video">
                            <video poster="./images/home/poster.png" preload="none">
                                <source src="./images/video.mp4" type="video/mp4" />
                            </video>
                            <div class="parent-icon">
                                <svg>
                                    <use href="./icons.svg#play"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-main col-lg-7 col-xl-8">
                        <h3 class="title">معرفی نحک</h3>
                        <div class="para">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای یوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار گیرد. در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا
                            با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای یوسته اهل دنیای موجود طراحی اساسا مورد
                            استفاده قرار گیرد. در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
                            طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای یوسته اهل دنیای موجود طراحی
                            اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="nahak-para-wrapper">
                <div class="nahak-para">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
                    حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
                    رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                    داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                    گیرد.
                </div>
            </div>
        </div>

        <div class="why-nahak-po">
            <div class="container">
                <div class="custom-cols">
                    <div class="custom-col col-desc">
                        <div class="why-nahak">
                            <h5 class="sub-title">نو آوری ، حرکت، کار آفرینی</h5>
                            <h2 class="title">چرا نحک؟</h2>
                            <h5 class="sub-title-2">نو آوری ، حرکت، کار آفرینی</h5>
                            <div class="desc">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            </div>
                        </div>
                        <div class="nahak-list-icon mt-5">
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-col col-img">
                        <img src="./images/about-nahak/bold-img-1.png" alt="" />
                    </div>
                    <div class="custom-col col-img">
                        <img src="./images/about-nahak/bold-img-2.png" alt="" />
                    </div>
                    <div class="custom-col col-desc">
                        <div class="nahak-list-icon">
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                            <div>
                                <div class="img-wrapper">
                                    <img src="./images/about-nahak/Calling.png" alt="" />
                                </div>
                                <div class="texts">
                                    <h4>مشاوره انتخاب شغل</h4>
                                    <div>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="nahak-para-wrapper">
                <div class="nahak-para">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
                    حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
                    رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                    داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                    گیرد.
                </div>
            </div>
        </div>

        <div class="nahak-team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-5 col-img">
                        <div class="img-wrapper">
                            <img src="./images/about-nahak/team.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-7 col-main">
                        <h3 class="title">درباره تیم نحک</h3>
                        <div class="para">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                            افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                            فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
                            شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                            پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="nahak-para-wrapper">
                <div class="nahak-para">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
                    حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
                    رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                    داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                    گیرد.
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="section-1">
                    <div class="about">
                        <img src="./images/footer-logo.png" alt="" />
                        <h2>کارآفرینی نحک</h2>
                        <h5>کارتو با نحک بساز</h5>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                    </div>
                    <div class="parent-links">
                        <div class="links">
                            <div class="title">
                                <h5>دسترسی آسان</h5>
                            </div>
                            <div class="links-wrapper">
                                <a href="#">صفحه اصلی</a>
                                <a href="#">نمایش شغل</a>
                                <a href="#">معرفی BDS</a>
                                <a href="#">درخوسات برای کار</a>
                                <a href="#">درخوسات برای کار</a>
                            </div>
                        </div>
                    </div>

                    <div class="social-networks">
                        <h3>شبکه های اجتماعی</h3>
                        <p>نحک را در شبکه های اجتماعی دنبال کنید</p>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="symbols">
                        <h3>نماد های نحک</h3>

                        <div class="parent-symbols-swiper">
                            <div class="symbols-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="symbols-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="section-2">
                    <div class="location">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#location"></use>
                            </svg>
                            <span>آدرس</span>
                        </div>
                        <p><span>دفترمرکزی :</span>یزد، بلوارجمهوری اسلامی، نبش کوچه شرق، ساختمان آنا، طبقه اول</p>
                    </div>
                    <div class="phone">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#phone"></use>
                            </svg>
                            <span>شماره تماس</span>
                        </div>
                        <p>035-35220458-9</p>
                    </div>

                    <div class="social-networks">
                        <div class="title">
                            <span>شبکه های اجتماعی</span>
                        </div>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/handel-menu.js"></script>
        <script src="./js/purecounter.js"></script>
        <script src="./plugins/slider/swiper/swiper-bundle.min.js"></script>
        <script src="./js/handel-video.js"></script>
        <script src="./js/tabs-and-splide.js"></script>
    </body>
</html>
