<!DOCTYPE html>
<html lang="en" class="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />

        <!-- import css -->
        <link rel="stylesheet" href="./css/liferay.css" />
        <link rel="stylesheet" href="./css/main-liferay.css" />
        <link rel="stylesheet" href="./lib/atlas.css" />

        <link rel="stylesheet" href="./css/main.min.css" />
        <link rel="stylesheet" href="./css/navbar.min.css" />
        <link rel="stylesheet" href="./css/consultant/consultant-Introduction.min.css" />
        <link rel="stylesheet" href="./css/footer.min.css" />

        <link rel="stylesheet" href="./plugins/slider/swiper/swiper-bundle.min.css" />

        <link rel="stylesheet" href="./plugins/toggler/css/toggler.min.css" />
        <script src="./plugins/toggler/js/toggler.js"></script>
        <script>
            Toggler.Init();
        </script>

        <title>NAHAK</title>
    </head>
    <body class="home-page" dir="rtl">
        <div class="nahak-navbar">
            <div class="toggle-box" id="kord-navbar-menu">
                <div class="main-box">
                    <div class="parent-search">
                        <div class="parent-liferay-search">
                            <div class="liferay-search">
                                <input type="search" placeholder="جستجو.." />
                                <svg>
                                    <use href="./icons.svg#search"></use>
                                </svg>
                                <div class="close-btn" data-toggler="hide" href="#search-box">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <div class="left-section">
                        <svg class="menu-icon" data-toggler="toggle" href="#kord-navbar-menu">
                            <use href="./icons.svg#menu"></use>
                        </svg>
                        <div class="logo-wrapper">
                            <a href="#">
                                <img src="./images/navbar-logo.png" alt="" />
                            </a>
                            <a href="#" class="title">
                                <span>کار آفرینی نحک</span> <span>نو آوری ، حرکت، کار آفرینی</span>
                            </a>
                        </div>
                    </div>

                    <div class="middle-section">
                        <ul class="menu-links">
                            <li class="link active">
                                <div class="parent-title">
                                    <a href="#">صفحه اصلی</a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#"> مشاغل </a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">مشاوران</a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">تازه کار آفرینی</a>
                                </div>
                            </li>
                            <li class="link has-sub-menu">
                                <div class="parent-title">
                                    <svg class="icon-down" data-size-enable="1200" data-toggler="toggle" href="#m22">
                                        <use href="./icons.svg#down"></use>
                                    </svg>
                                    <a href="#" class="has-more-svg">درباره ما</a>
                                </div>
                                <div class="parent-sub-menu js-toggler" id="m22">
                                    <ul class="sub-menu" id="sub-menu-0">
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m144">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1445">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m154">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m15444">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1644">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1547">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">تماس با ما</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="right-section">
                        <div class="tools">
                            <div class="parent-search">
                                <div class="parent-liferay-search">
                                    <div class="liferay-search">
                                        <input type="search" placeholder="جستجو.." />
                                        <svg>
                                            <use href="./icons.svg#search"></use>
                                        </svg>
                                        <div class="close-btn" data-toggler="hide" href="#search-box">
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="login" href="#">
                                <svg>
                                    <use href="./icons.svg#profile"></use>
                                </svg>
                                <span>ورود و ثبت نام</span>
                            </a>

                            <a class="job-re" href="#">
                                <span>درخواست شغل</span>
                                <svg>
                                    <use href="./icons.svg#menu-left-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="consultant">
            <div class="co-Introduction">
                <div class="container">
                    <div class="row">
                        <div class="col-main col-lg-6">
                            <div class="consultant-image">
                                <div class="img-wrapper">
                                    <img src="./images/consultant/man-2.png" alt="" />
                                </div>
                            </div>
                            <div class="specialty"><span>پشتیبانی نساجی سنتی</span></div>
                            <h3 class="title">دکتر علیرضا رودی</h3>
                            <div class="para">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                                فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                                کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
                                طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و
                                فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موج
                            </div>
                            <a href="#" class="more">دریافت مشاوره </a>
                        </div>
                        <div class="col-lg-6 col-video">
                            <div class="about-video">
                                <video poster="./images/consultant/man.png" preload="none">
                                    <source src="./images/video.mp4" type="video/mp4" />
                                </video>
                                <div class="parent-icon">
                                    <svg>
                                        <use href="./icons.svg#paly-orange"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="co-services">
                <div class="container">
                    <h3 class="po-title">خدمات</h3>
                    <p class="po-subtitle">خدمات قابل ارائه دکتر علیرضا رودی</p>

                    <div class="se-items">
                        <div style="background: url(./images/consultant/service-item-bg.png) #ffffff">
                            <h3 class="title">آموزش و پشتیبانی تولید</h3>
                            <a href="#" class="more">توضیحات بیشتر</a>
                            <div class="se-wrapper">
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>تماس با ما</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info">
                                            <span>آدرس دفتر مرکزی:</span>
                                            <span> يزد-خيابان مطهري - ابتداي كوچه پنجاه و هفتم- پلاك 2 </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>مدت زمان آموزش</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info">
                                            <span>شنبه تا چهارشنبه</span>
                                            <span>۹ الی ۲۴</span>
                                        </div>
                                        <div class="info">
                                            <span>شنبه تا چهارشنبه</span>
                                            <span>۹ الی ۲۴</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>تماس با ما</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info">
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که ل
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>جنس مواد اولیه</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#true"></use>
                                            </svg>
                                            <span>نخ</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>جله آماده</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#true"></use>
                                            </svg>
                                            <span>شافل</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="title">پشتیبانی فروش</h3>
                            <a href="#" class="more">توضیحات بیشتر</a>
                            <div class="se-wrapper flex-row flex-wrap">
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>جنس مواد اولیه</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>

                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info">
                                            <span>شنبه تا چهارشنبه</span>
                                            <span>۹ الی ۲۴</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>جنس مواد اولیه</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#false"></use>
                                            </svg>
                                            <span>نانو</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="se-info">
                                    <div class="title">
                                        <img src="./images/consultant/document.png" alt="" />
                                        <h5>جنس مواد اولیه</h5>
                                    </div>
                                    <div class="infos">
                                        <div class="info bool">
                                            <svg>
                                                <use href="./icons.svg#true"></use>
                                            </svg>
                                            <span>نخ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-btn">
                <div class="container">
                    <a href="#">
                        <svg>
                            <use href="./icons.svg#Bag"></use>
                        </svg>
                        <span>درخواست همکاری</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="section-1">
                    <div class="about">
                        <img src="./images/footer-logo.png" alt="" />
                        <h2>کارآفرینی نحک</h2>
                        <h5>کارتو با نحک بساز</h5>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                    </div>
                    <div class="parent-links">
                        <div class="links">
                            <div class="title">
                                <h5>دسترسی آسان</h5>
                            </div>
                            <div class="links-wrapper">
                                <a href="#">صفحه اصلی</a>
                                <a href="#">نمایش شغل</a>
                                <a href="#">معرفی BDS</a>
                                <a href="#">درخوسات برای کار</a>
                                <a href="#">درخوسات برای کار</a>
                            </div>
                        </div>
                    </div>

                    <div class="social-networks">
                        <h3>شبکه های اجتماعی</h3>
                        <p>نحک را در شبکه های اجتماعی دنبال کنید</p>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="symbols">
                        <h3>نماد های نحک</h3>

                        <div class="parent-symbols-swiper">
                            <div class="symbols-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="symbols-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="section-2">
                    <div class="location">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#location"></use>
                            </svg>
                            <span>آدرس</span>
                        </div>
                        <p><span>دفترمرکزی :</span>یزد، بلوارجمهوری اسلامی، نبش کوچه شرق، ساختمان آنا، طبقه اول</p>
                    </div>
                    <div class="phone">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#phone"></use>
                            </svg>
                            <span>شماره تماس</span>
                        </div>
                        <p>035-35220458-9</p>
                    </div>

                    <div class="social-networks">
                        <div class="title">
                            <span>شبکه های اجتماعی</span>
                        </div>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/handel-menu.js"></script>
        <script src="./js/purecounter.js"></script>
        <script src="./plugins/slider/swiper/swiper-bundle.min.js"></script>
        <script src="./js/handel-video.js"></script>
        <script src="./js/tabs-and-splide.js"></script>
    </body>
</html>
