<!DOCTYPE html>
<html lang="en" class="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico"/>

    <!-- import css -->
    <link rel="stylesheet" href="static/css/liferay.css"/>
    <link rel="stylesheet" href="static/css/main-liferay.css"/>
    <link rel="stylesheet" href="static/lib/atlas.css"/>

    <link rel="stylesheet" href="static/css/main.min.css"/>
    <link rel="stylesheet" href="static/css/navbar.min.css"/>
    <link rel="stylesheet" href="static/css/header.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-services.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-jobs.min.css"/>
    <link rel="stylesheet" href="static/css/request-btn.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-consultation.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-consultants.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-Introduction.min.css"/>
    <link rel="stylesheet" href="static/css/nahak-ES.min.css"/>
    <link rel="stylesheet" href="static/css/footer.min.css"/>

    <link rel="stylesheet" href="static/plugins/slider/swiper/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="static/plugins/toggler/css/toggler.min.css"/>
    <script src="static/plugins/toggler/js/toggler.js"></script>
    <script>
        Toggler.Init();
    </script>

    <title>NAHAK</title>
</head>
<body class="home-page" dir="rtl">
<div class="nahak-navbar">
    <div class="toggle-box" id="kord-navbar-menu">
        <div class="main-box">
            <div class="parent-search">
                <div class="parent-liferay-search">
                    <div class="liferay-search">
                        <input type="search" placeholder="جستجو.."/>
                        <svg>
                            <use href="static/icons.svg#search"></use>
                        </svg>
                        <div class="close-btn" data-toggler="hide" href="#search-box">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <div class="left-section">
                <svg class="menu-icon" data-toggler="toggle" href="#kord-navbar-menu">
                    <use href="static/icons.svg#menu"></use>
                </svg>
                <div class="logo-wrapper">
                    <a href="#">
                        <img src="static/images/navbar-logo.png" alt=""/>
                    </a>
                    <a href="#" class="title">
                        <span>کار آفرینی نحک</span> <span>نو آوری ، حرکت، کار آفرینی</span>
                    </a>
                </div>
            </div>

            <div class="middle-section">
                <ul class="menu-links">
                    <li class="link active">
                        <div class="parent-title">
                            <a href="#">صفحه اصلی</a>
                        </div>
                    </li>
                    <li class="link">
                        <div class="parent-title">
                            <a href="#"> مشاغل </a>
                        </div>
                    </li>
                    <li class="link">
                        <div class="parent-title">
                            <a href="#">مشاوران</a>
                        </div>
                    </li>
                    <li class="link">
                        <div class="parent-title">
                            <a href="#">تازه کار آفرینی</a>
                        </div>
                    </li>
                    <li class="link has-sub-menu">
                        <div class="parent-title">
                            <svg class="icon-down" data-size-enable="1200" data-toggler="toggle" href="#m22">
                                <use href="static/icons.svg#down"></use>
                            </svg>
                            <a href="#" class="has-more-svg">درباره ما</a>
                        </div>
                        <div class="parent-sub-menu js-toggler" id="m22">
                            <ul class="sub-menu" id="sub-menu-0">
                                <ul>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m144">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m1445">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m154">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m15444">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m1644">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="parent-title">
                                            <a href="#">کار آفرینی</a>
                                            <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                <use href="static/icons.svg#down"></use>
                                            </svg>
                                        </div>
                                        <ul class="sub-sub-menu js-toggler" id="m1547">
                                            <li><a href="#">Institutional</a></li>
                                            <li><a href="#">Faculty & Staff</a></li>
                                            <li><a href="#">education</a></li>
                                            <li><a href="#">Campus Safety</a></li>
                                            <li><a href="#">Effectiveness</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </li>
                    <li class="link">
                        <div class="parent-title">
                            <a href="#">تماس با ما</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="right-section">
                <div class="tools">
                    <div class="parent-search">
                        <div class="parent-liferay-search">
                            <div class="liferay-search">
                                <input type="search" placeholder="جستجو.."/>
                                <svg>
                                    <use href="static/icons.svg#search"></use>
                                </svg>
                                <div class="close-btn" data-toggler="hide" href="#search-box">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="login" href="{% url 'login_page' %}">
                        <svg>
                            <use href="static/icons.svg#profile"></use>
                        </svg>
                        <span>ورود و ثبت نام</span>
                    </a>

                    <a class="job-re" href="#">
                        <span>درخواست شغل</span>
                        <svg>
                            <use href="static/icons.svg#menu-left-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header">
    <div class="container">
        <div class="col-wrapper">
            <div class="column-1">
                <h2>کارتو با نحک بساز</h2>
                <h5>کار آفرینی نحک</h5>
                <div class="problems">
                    <div class="text-1">اگر</div>

                    <div class="parent-problems-sw">
                        <div class="problems-sw">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div><span>1</span></div>
                                    <p>نمیدونی چه کاری باید راه اندازی کنی</p>
                                </div>
                                <div class="swiper-slide">
                                    <div><span>2</span></div>
                                    <p>نمیدونی از کجا و چگونه باید تجهیزات و مواداولیه مناسب بخری</p>
                                </div>
                                <div class="swiper-slide">
                                    <div><span>3</span></div>
                                    <p>پول کافی برای راه اندازی کسب و کارت نداری</p>
                                </div>
                                <div class="swiper-slide">
                                    <div><span>4</span></div>
                                    <p>نمیدونی کجا و چطور باید آموز ببینی</p>
                                </div>
                                <div class="swiper-slide">
                                    <div><span>5</span></div>
                                    <p>نمیدونی چه کاری باید راه اندازی کنی</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-2">خیالت راحت باشه چون میتونی روی نحک حساب کنی</div>
                </div>
            </div>
            <div class="column-2">
                <div class="parent-gallery-sw">
                    <div class="gallery-sw">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="static/images/home/slideshow.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="static/images/home/job-lg-img.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="static/images/home/work.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-pagination"></div>
                </div>
            </div>
            <div class="column-3">
                <div class="statistics">
                    <div>
                        <div
                                data-purecounter-start="1"
                                data-purecounter-end="25"
                                class="purecounter"
                                data-purecounter-duration="3"
                        ></div>
                        <div class="text">کسب و کار موفق</div>
                    </div>
                    <div>
                        <div
                                data-purecounter-start="1"
                                data-purecounter-end="256"
                                class="purecounter"
                                data-purecounter-duration="3"
                        ></div>
                        <div class="text">مشاور کسب کار</div>
                    </div>
                    <div>
                        <div
                                data-purecounter-start="1"
                                data-purecounter-end="1526"
                                class="purecounter"
                                data-purecounter-duration="3"
                        ></div>
                        <div class="text">نیروی مشغول به کار</div>
                    </div>
                </div>
                <h3></h3>
            </div>
        </div>
    </div>
</div>

<div class="request-btn-wrapper">
    <a class="request-btn" href="#">
        <svg>
            <use href="static/icons.svg#Bag"></use>
        </svg>
        <span> درخوسات همکاری </span>
    </a>
</div>

<div class="nahak-services">
    <div class="container">
        <h3 class="po-title">خدمات نَحَک</h3>
        <p class="po-subtitle">کجا میتونی روی نَحَک حساب باز کنی</p>

        <div class="service-items">
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
            <div>
                <img src="static/images/home/se.png" alt=""/>
                <div class="texts">
                    <h3>مشاوره انتخاب شغل</h3>
                    <p>اگر به دنبال ایجاد شغل هستی و نمیدونی چه کاری باید راه بندازی،</p>
                    <a href="#">مشاهده بیشتر</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nahak-Introduction">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-video">
                <div class="about-video">
                    <video poster="static/images/home/poster.png" preload="none">
                        <source src="static/images/video.mp4" type="video/mp4"/>
                    </video>
                    <div class="parent-icon">
                        <svg>
                            <use href="static/icons.svg#play"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-main col-lg-7 col-xl-8">
                <h3 class="title">معرفی نحک</h3>
                <div class="para">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                    تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                    در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                    افزارها شناخت بیشتری را برای طراحان رایانه ای یوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                    قرار گیرد.
                </div>
                <a href="#" class="more">بیشتر بدانید</a>
            </div>
        </div>
    </div>
</div>

<div class="nahak-jobs-po">
    <div class="container">
        <div class="title-wrapper">
            <h3 class="po-title">مشاغل پیشنهادی نحک</h3>
        </div>
        <p class="po-subtitle">نحک همراه شما همیشه در همه جا همراه شما</p>

        <div class="nahak-jobs row">
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 job">
                <img src="static/images/home/job-lg-img.png" alt=""/>
                <div class="white-box">
                    <div class="content">
                        <img src="static/images/home/job-sm-img.png" alt="" class="sm-img"/>

                        <div class="texts">
                            <div>
                                <h3>معماری</h3>
                                <span>01</span>
                            </div>
                            <p>گروه نساجی نحک در زمینه های شعر بافی قالی بافی و ....</p>
                        </div>
                    </div>
                    <a href="#">بیشتر بدانیم</a>
                </div>
            </div>
        </div>

        <a href="#" class="more">مشاهده بیشتر</a>
    </div>
</div>

<div class="nahak-consultation">
    <div class="container">
        <div class="main-box">
            <img src="static/images/home/consultation/phone.png" alt=""/>
            <div>
                <div class="texts">
                    <h3>نیاز به مشاوره دارین ، نحک در خدمت شماست</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
                        فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هد
                    </p>
                </div>
                <a href="#">دریافت مشاوره</a>
            </div>
        </div>
    </div>
</div>

<div class="nahak-consultants">
    <div class="container">
        <h3 class="po-title">
            مشاوران
            <span>نحک</span>
        </h3>
        <p class="po-subtitle">نحک همراه شما همیشه در همه جا همراه شما</p>

        <div class="parent-consultants-swiper">
            <div class="navigation">
                <div class="consultants-swiper-next">
                    <svg class="navigation-btn">
                        <use href="static/icons.svg#arrow-right"></use>
                    </svg>
                </div>
                <div class="consultants-swiper-prev">
                    <svg class="navigation-btn">
                        <use href="static/icons.svg#arrow-left"></use>
                    </svg>
                </div>
            </div>
            <div class="consultants-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="consultant">
                            <div class="parent-img">
                                <img src="static/images/home/consultation/woman.png" alt=""/>
                            </div>
                            <div class="contents">
                                <h3 class="name">زهرا باقری</h3>
                                <div class="specialty">
                                    <img src="static/images/home/consultation/sm-icon.png" alt=""/>
                                    <span>تخصص: معرفی شغل</span>
                                </div>
                                <p>نساجی سنتی و گیاهان دارویی</p>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="consultant">
                            <div class="parent-img">
                                <img src="static/images/home/consultation/woman.png" alt=""/>
                            </div>
                            <div class="contents">
                                <h3 class="name">زهرا باقری</h3>
                                <div class="specialty">
                                    <img src="static/images/home/consultation/sm-icon.png" alt=""/>
                                    <span>تخصص: معرفی شغل</span>
                                </div>
                                <p>نساجی سنتی و گیاهان دارویی</p>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="consultant">
                            <div class="parent-img">
                                <img src="static/images/home/consultation/woman.png" alt=""/>
                            </div>
                            <div class="contents">
                                <h3 class="name">زهرا باقری</h3>
                                <div class="specialty">
                                    <img src="static/images/home/consultation/sm-icon.png" alt=""/>
                                    <span>تخصص: معرفی شغل</span>
                                </div>
                                <p>نساجی سنتی و گیاهان دارویی</p>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="consultant">
                            <div class="parent-img">
                                <img src="static/images/home/consultation/woman.png" alt=""/>
                            </div>
                            <div class="contents">
                                <h3 class="name">زهرا باقری</h3>
                                <div class="specialty">
                                    <img src="static/images/home/consultation/sm-icon.png" alt=""/>
                                    <span>تخصص: معرفی شغل</span>
                                </div>
                                <p>نساجی سنتی و گیاهان دارویی</p>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="consultant">
                            <div class="parent-img">
                                <img src="static/images/home/consultation/woman.png" alt=""/>
                            </div>
                            <div class="contents">
                                <h3 class="name">زهرا باقری</h3>
                                <div class="specialty">
                                    <img src="static/images/home/consultation/sm-icon.png" alt=""/>
                                    <span>تخصص: معرفی شغل</span>
                                </div>
                                <p>نساجی سنتی و گیاهان دارویی</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nahak-ES">
    <div class="container">
        <div class="texts">
            <h3 class="po-title">تازه های کار آفرینی</h3>
            <p class="po-subtitle">نحک همراه شما همیشه در همه جا همراه شما</p>
        </div>

        <a href="#" class="more">مشاهده تمامی تازه های کارآفرینی</a>

        <div class="w-100">
            <div class="row">
                <div class="col-xl-6 col-lg-5 col-md-7">
                    <div class="parent-NES-swiper-2">
                        <div class="NES-swiper-2">
                            <div class="swiper-wrapper">
                                <a
                                        href="#"
                                        class="swiper-slide"
                                        style="background: url(static/images/home/work-2.png)"
                                >
                                    <div class="contents">
                                        <div class="category">
                                            <svg class="navigation-btn">
                                                <use href="static/icons.svg#category-path-1"></use>
                                                <use href="static/icons.svg#category-path-2"></use>
                                            </svg>
                                            <span>کسب و کار</span>
                                        </div>

                                        <h3 class="name">
                                            چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                        </h3>

                                        <span class="date">1400/08/06</span>
                                    </div>
                                </a>
                                <a
                                        href="#"
                                        class="swiper-slide"
                                        style="background: url(static/images/home/work.png)"
                                >
                                    <div class="contents">
                                        <div class="category">
                                            <svg class="navigation-btn">
                                                <use href="static/icons.svg#category-path-1"></use>
                                                <use href="static/icons.svg#category-path-2"></use>
                                            </svg>
                                            <span>کسب و کار</span>
                                        </div>

                                        <h3 class="name">
                                            چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                        </h3>

                                        <span class="date">1400/08/06</span>
                                    </div>
                                </a>
                                <a
                                        href="#"
                                        class="swiper-slide"
                                        style="background: url(static/images/home/work.png)"
                                >
                                    <div class="contents">
                                        <div class="category">
                                            <svg class="navigation-btn">
                                                <use href="static/icons.svg#category-path-1"></use>
                                                <use href="static/icons.svg#category-path-2"></use>
                                            </svg>
                                            <span>کسب و کار</span>
                                        </div>

                                        <h3 class="name">
                                            چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                        </h3>

                                        <span class="date">1400/08/06</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="NES-swiper-2-pagination"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-5">
                    <div class="parent-NES-swiper">
                        <div class="NES-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#work" class="work">
                                        <div class="parent-img">
                                            <img src="static/images/home/work.png" alt=""/>
                                        </div>
                                        <div class="contents">
                                            <div class="category">
                                                <svg class="navigation-btn">
                                                    <use href="static/icons.svg#category-path-1"></use>
                                                    <use href="static/icons.svg#category-path-2"></use>
                                                </svg>
                                                <span>کسب و کار</span>
                                            </div>

                                            <h3 class="name">
                                                چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                            </h3>

                                            <span class="date">1400/08/06</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#work" class="work">
                                        <div class="parent-img">
                                            <img src="static/images/home/work.png" alt=""/>
                                        </div>
                                        <div class="contents">
                                            <div class="category">
                                                <svg class="navigation-btn">
                                                    <use href="static/icons.svg#category-path-1"></use>
                                                    <use href="static/icons.svg#category-path-2"></use>
                                                </svg>
                                                <span>کسب و کار</span>
                                            </div>

                                            <h3 class="name">
                                                چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                            </h3>

                                            <span class="date">1400/08/06</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#work" class="work">
                                        <div class="parent-img">
                                            <img src="static/images/home/work.png" alt=""/>
                                        </div>
                                        <div class="contents">
                                            <div class="category">
                                                <svg class="navigation-btn">
                                                    <use href="static/icons.svg#category-path-1"></use>
                                                    <use href="static/icons.svg#category-path-2"></use>
                                                </svg>
                                                <span>کسب و کار</span>
                                            </div>

                                            <h3 class="name">
                                                چگونه راهکار های بیزینسی خوبی در هنگام مذاکرهیییی داشته باشیم
                                            </h3>

                                            <span class="date">1400/08/06</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="section-1">
            <div class="about">
                <img src="static/images/footer-logo.png" alt=""/>
                <h2>کارآفرینی نحک</h2>
                <h5>کارتو با نحک بساز</h5>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                    است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                </p>
            </div>
            <div class="parent-links">
                <div class="links">
                    <div class="title">
                        <h5>دسترسی آسان</h5>
                    </div>
                    <div class="links-wrapper">
                        <a href="#">صفحه اصلی</a>
                        <a href="#">نمایش شغل</a>
                        <a href="#">معرفی BDS</a>
                        <a href="#">درخوسات برای کار</a>
                        <a href="#">درخوسات برای کار</a>
                    </div>
                </div>
            </div>

            <div class="social-networks">
                <h3>شبکه های اجتماعی</h3>
                <p>نحک را در شبکه های اجتماعی دنبال کنید</p>
                <div class="links-wrapper">
                    <a href="#">
                        <img src="static/images/home/instagram.png"/>
                        <span>اینستاگرام</span>
                        <div class="icon">
                            <svg>
                                <use href="static/icons.svg#sm-left-arrow"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#">
                        <img src="static/images/home/instagram.png"/>
                        <span>اینستاگرام</span>
                        <div class="icon">
                            <svg>
                                <use href="static/icons.svg#sm-left-arrow"></use>
                            </svg>
                        </div>
                    </a>
                    <a href="#">
                        <img src="static/images/home/instagram.png"/>
                        <span>اینستاگرام</span>
                        <div class="icon">
                            <svg>
                                <use href="static/icons.svg#sm-left-arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>

            <div class="symbols">
                <h3>نماد های نحک</h3>

                <div class="parent-symbols-swiper">
                    <div class="symbols-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="static/images/sym.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="static/images/sym.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="static/images/sym.png" alt=""/>
                            </div>
                            <div class="swiper-slide">
                                <img src="static/images/sym.png" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="symbols-pagination"></div>
                </div>
            </div>
        </div>

        <div class="section-2">
            <div class="location">
                <div class="title">
                    <svg>
                        <use href="static/icons.svg#location"></use>
                    </svg>
                    <span>آدرس</span>
                </div>
                <p><span>دفترمرکزی :</span>یزد، بلوارجمهوری اسلامی، نبش کوچه شرق، ساختمان آنا، طبقه اول</p>
            </div>
            <div class="phone">
                <div class="title">
                    <svg>
                        <use href="static/icons.svg#phone"></use>
                    </svg>
                    <span>شماره تماس</span>
                </div>
                <p>035-35220458-9</p>
            </div>

            <div class="social-networks">
                <div class="title">
                    <span>شبکه های اجتماعی</span>
                </div>
                <div class="links-wrapper">
                    <a href="#">
                        <img src="static/images/home/instagram.png" alt=""/>
                    </a>
                    <a href="#">
                        <img src="static/images/home/instagram.png" alt=""/>
                    </a>
                    <a href="#">
                        <img src="static/images/home/instagram.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/js/handel-menu.js"></script>
<script src="static/js/purecounter.js"></script>
<script src="static/plugins/slider/swiper/swiper-bundle.min.js"></script>
<script src="static/js/handel-video.js"></script>
<script src="static/js/tabs-and-splide.js"></script>
</body>
</html>
