<!DOCTYPE html>
<html lang="en" class="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />

        <!-- import css -->
        <link rel="stylesheet" href="./css/liferay.css" />
        <link rel="stylesheet" href="./css/main-liferay.css" />
        <link rel="stylesheet" href="./lib/atlas.css" />

        <link rel="stylesheet" href="./css/main.min.css" />
        <link rel="stylesheet" href="./css/navbar.min.css" />
        <link rel="stylesheet" href="./css/job/job-Intro.min.css" />
        <link rel="stylesheet" href="./css/job/job-steps.min.css" />
        <link rel="stylesheet" href="./css/job/re-consultants.min.css" />
        <link rel="stylesheet" href="./css/footer.min.css" />

        <link rel="stylesheet" href="./plugins/slider/swiper/swiper-bundle.min.css" />

        <link rel="stylesheet" href="./plugins/toggler/css/toggler.min.css" />
        <script src="./plugins/toggler/js/toggler.js"></script>
        <script>
            Toggler.Init();
        </script>

        <title>NAHAK - JOB</title>
    </head>
    <body class="home-page" dir="rtl">
        <div class="nahak-navbar">
            <div class="toggle-box" id="kord-navbar-menu">
                <div class="main-box">
                    <div class="parent-search">
                        <div class="parent-liferay-search">
                            <div class="liferay-search">
                                <input type="search" placeholder="جستجو.." />
                                <svg>
                                    <use href="./icons.svg#search"></use>
                                </svg>
                                <div class="close-btn" data-toggler="hide" href="#search-box">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <div class="left-section">
                        <svg class="menu-icon" data-toggler="toggle" href="#kord-navbar-menu">
                            <use href="./icons.svg#menu"></use>
                        </svg>
                        <div class="logo-wrapper">
                            <a href="#">
                                <img src="./images/navbar-logo.png" alt="" />
                            </a>
                            <a href="#" class="title">
                                <span>کار آفرینی نحک</span> <span>نو آوری ، حرکت، کار آفرینی</span>
                            </a>
                        </div>
                    </div>

                    <div class="middle-section">
                        <ul class="menu-links">
                            <li class="link active">
                                <div class="parent-title">
                                    <a href="#">صفحه اصلی</a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#"> مشاغل </a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">مشاوران</a>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">تازه کار آفرینی</a>
                                </div>
                            </li>
                            <li class="link has-sub-menu">
                                <div class="parent-title">
                                    <svg class="icon-down" data-size-enable="1200" data-toggler="toggle" href="#m22">
                                        <use href="./icons.svg#down"></use>
                                    </svg>
                                    <a href="#" class="has-more-svg">درباره ما</a>
                                </div>
                                <div class="parent-sub-menu js-toggler" id="m22">
                                    <ul class="sub-menu" id="sub-menu-0">
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m144">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1445">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m154">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m15444">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1644">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <div class="parent-title">
                                                    <a href="#">کار آفرینی</a>
                                                    <svg class="icon-down" data-toggler="toggle" href="#m144">
                                                        <use href="./icons.svg#down"></use>
                                                    </svg>
                                                </div>
                                                <ul class="sub-sub-menu js-toggler" id="m1547">
                                                    <li><a href="#">Institutional</a></li>
                                                    <li><a href="#">Faculty & Staff</a></li>
                                                    <li><a href="#">education</a></li>
                                                    <li><a href="#">Campus Safety</a></li>
                                                    <li><a href="#">Effectiveness</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </li>
                            <li class="link">
                                <div class="parent-title">
                                    <a href="#">تماس با ما</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="right-section">
                        <div class="tools">
                            <div class="parent-search">
                                <div class="parent-liferay-search">
                                    <div class="liferay-search">
                                        <input type="search" placeholder="جستجو.." />
                                        <svg>
                                            <use href="./icons.svg#search"></use>
                                        </svg>
                                        <div class="close-btn" data-toggler="hide" href="#search-box">
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="login" href="#">
                                <svg>
                                    <use href="./icons.svg#profile"></use>
                                </svg>
                                <span>ورود و ثبت نام</span>
                            </a>

                            <a class="job-re" href="#">
                                <span>درخواست شغل</span>
                                <svg>
                                    <use href="./icons.svg#menu-left-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="job-Intro">
            <div class="container">
                <div class="row">
                    <div class="col-main col-lg-6">
                        <div class="bg">
                            <img src="./images/job/job-bg.png" alt="" />
                        </div>
                        <div class="breadcrumb-wrapper">
                            <div class="demo" style="color: #4d6071">صقحه اصلی / مشاغل نحک / شعر بافی</div>
                        </div>
                        <h5 class="sub-title">کار بافی، شعر بافی، پاره بافی</h5>
                        <h3 class="title">شــعـر بـافـی ، نـسـاجـی سـنـتـی یــزد</h3>
                        <div class="para">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                            در
                        </div>
                        <div class="more-desc">
                            <a href="#">توضیحات بیشتر </a>
                        </div>
                        <a href="#" class="more">درخواست همکاری</a>
                    </div>
                    <div class="col-lg-6 col-video">
                        <div class="video-wrapper">
                            <div class="image-layer" style="background: url(./images/job/video-poster.png)"></div>
                            <div class="about-video">
                                <video poster="./images/job/video-poster.png" preload="none">
                                    <source src="./images/video.mp4" type="video/mp4" />
                                </video>
                                <div class="parent-icon">
                                    <svg>
                                        <use href="./icons.svg#paly-orange"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="job-steps">
            <div class="container">
                <div class="yellow-box container">
                    <div class="row header">
                        <div class="col-12 col-xl-6 col-lg-5">
                            <div class="img-wr">
                                <div style="background: url(./images/job/job-bg.png)"></div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6 col-lg-7 d-flex align-items-end">
                            <div class="texts">
                                <h5 class="help">ما به شما کمک میکنیم</h5>
                                <h3 class="title">مراحل راه اندازی شعر بافی</h3>
                                <h5 class="sub-title">شعر بافی، هنری ساده با درآمدی عالی</h5>
                            </div>
                        </div>
                    </div>
                    <div class="steps">
                        <div>
                            <div class="step-wrapper">
                                <div class="step">
                                    <div class="img-wr">
                                        <img src="./images/job/brifecase-tick.png" alt="" />
                                    </div>
                                    <div class="texts">
                                        <h5>انتخاب پشتیبان و مشاوره</h5>
                                        <div class="para">در اولین اقدام ما تجهیزات اولیه را برای شما ارسال میکنیم</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="step-wrapper">
                                <div class="step">
                                    <div class="img-wr">
                                        <img src="./images/job/brifecase-tick.png" alt="" />
                                    </div>
                                    <div class="texts">
                                        <h5>انتخاب پشتیبان و مشاوره</h5>
                                        <div class="para">در اولین اقدام ما تجهیزات اولیه را برای شما ارسال میکنیم</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="step-wrapper">
                                <div class="step">
                                    <div class="img-wr">
                                        <img src="./images/job/brifecase-tick.png" alt="" />
                                    </div>
                                    <div class="texts">
                                        <h5>انتخاب پشتیبان و مشاوره</h5>
                                        <div class="para">در اولین اقدام ما تجهیزات اولیه را برای شما ارسال میکنیم</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="step-wrapper">
                                <div class="step">
                                    <div class="img-wr">
                                        <img src="./images/job/brifecase-tick.png" alt="" />
                                    </div>
                                    <div class="texts">
                                        <h5>انتخاب پشتیبان و مشاوره</h5>
                                        <div class="para">در اولین اقدام ما تجهیزات اولیه را برای شما ارسال میکنیم</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="step-wrapper">
                                <div class="step">
                                    <div class="img-wr">
                                        <img src="./images/job/brifecase-tick.png" alt="" />
                                    </div>
                                    <div class="texts">
                                        <h5>انتخاب پشتیبان و مشاوره</h5>
                                        <div class="para">در اولین اقدام ما تجهیزات اولیه را برای شما ارسال میکنیم</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="step latest">
                                <div class="para">
                                    بعد از اتمام این مراحل میتوانید شعر بافی خود را شروع کنید و بعد از تمام شدن پروژه
                                    میتوانید با پشتیبانی ما تماس بگیرید تا تیم ما در زمینه فروش کمک کننده شما باشند .
                                </div>
                                <a href="#">درخواست همکاری</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="re-consultants">
            <div class="container">
                <div class="header">
                    <h3 class="po-title">لیست مشاوران رسته نساجی</h3>

                    <div class="navigation">
                        <div class="consultants-swiper-next">
                            <svg class="navigation-btn">
                                <use href="./icons.svg#arrow-right"></use>
                            </svg>
                        </div>
                        <div class="consultants-swiper-prev">
                            <svg class="navigation-btn">
                                <use href="./icons.svg#arrow-left"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="filter">
                    <div class="head" data-toggler="toggle" href="#cate">
                        <div>
                            <div class="title">
                                <svg class="navigation-btn">
                                    <use href="./icons.svg#filter"></use>
                                </svg>
                                <span>فیلتر</span>
                            </div>
                            <div class="para">شما نیاز به کمک در چه زمینه ای دارین؟</div>
                        </div>
                        <svg>
                            <use href="./icons.svg#drop-down-icon"></use>
                        </svg>
                    </div>
                    <div id="cate" class="is-visible">
                        <div class="categories">
                            <div>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#tick"></use>
                                    </svg>
                                </div>
                                <span>آموزش</span>
                            </div>
                            <div class="active">
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#tick"></use>
                                    </svg>
                                </div>
                                <span>آموزش</span>
                            </div>
                            <div>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#tick"></use>
                                    </svg>
                                </div>
                                <span>آموزش</span>
                            </div>
                            <div>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#tick"></use>
                                    </svg>
                                </div>
                                <span>آموزش</span>
                            </div>
                            <div>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#tick"></use>
                                    </svg>
                                </div>
                                <span>آموزش</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="parent-consultants-swiper">
                    <div class="consultants-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div href="#" class="consultant">
                                    <div class="parent-img">
                                        <img src="./images/home/consultation/woman.png" alt="" />
                                    </div>
                                    <div class="contents">
                                        <h3 class="name">زهرا باقری</h3>
                                        <div class="specialty">
                                            <span>مشاور نساجی</span>
                                        </div>
                                        <ul class="skills">
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>آموزش راه اندازی</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#false"></use>
                                                </svg>
                                                <span>تامین دستگاه و کمک برای سر هم کردن</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>مواد اولیه برای شروع کار</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>کمک به فروش صنایع شما</span>
                                            </li>
                                        </ul>

                                        <a href="#" class="more">
                                            <span>ارتباط با مشاور</span
                                            ><svg class="navigation-btn">
                                                <use href="./icons.svg#arrow-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div href="#" class="consultant">
                                    <div class="parent-img">
                                        <img src="./images/home/consultation/woman.png" alt="" />
                                    </div>
                                    <div class="contents">
                                        <h3 class="name">زهرا باقری</h3>
                                        <div class="specialty">
                                            <span>مشاور نساجی</span>
                                        </div>
                                        <ul class="skills">
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>آموزش راه اندازی</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#false"></use>
                                                </svg>
                                                <span>تامین دستگاه و کمک برای سر هم کردن</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>مواد اولیه برای شروع کار</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>کمک به فروش صنایع شما</span>
                                            </li>
                                        </ul>

                                        <a href="#" class="more">
                                            <span>ارتباط با مشاور</span
                                            ><svg class="navigation-btn">
                                                <use href="./icons.svg#arrow-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div href="#" class="consultant">
                                    <div class="parent-img">
                                        <img src="./images/home/consultation/woman.png" alt="" />
                                    </div>
                                    <div class="contents">
                                        <h3 class="name">زهرا باقری</h3>
                                        <div class="specialty">
                                            <span>مشاور نساجی</span>
                                        </div>
                                        <ul class="skills">
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>آموزش راه اندازی</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#false"></use>
                                                </svg>
                                                <span>تامین دستگاه و کمک برای سر هم کردن</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>مواد اولیه برای شروع کار</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>کمک به فروش صنایع شما</span>
                                            </li>
                                        </ul>

                                        <a href="#" class="more">
                                            <span>ارتباط با مشاور</span
                                            ><svg class="navigation-btn">
                                                <use href="./icons.svg#arrow-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div href="#" class="consultant">
                                    <div class="parent-img">
                                        <img src="./images/home/consultation/woman.png" alt="" />
                                    </div>
                                    <div class="contents">
                                        <h3 class="name">زهرا باقری</h3>
                                        <div class="specialty">
                                            <span>مشاور نساجی</span>
                                        </div>
                                        <ul class="skills">
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>آموزش راه اندازی</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#false"></use>
                                                </svg>
                                                <span>تامین دستگاه و کمک برای سر هم کردن</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>مواد اولیه برای شروع کار</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>کمک به فروش صنایع شما</span>
                                            </li>
                                        </ul>

                                        <a href="#" class="more">
                                            <span>ارتباط با مشاور</span
                                            ><svg class="navigation-btn">
                                                <use href="./icons.svg#arrow-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div href="#" class="consultant">
                                    <div class="parent-img">
                                        <img src="./images/home/consultation/woman.png" alt="" />
                                    </div>
                                    <div class="contents">
                                        <h3 class="name">زهرا باقری</h3>
                                        <div class="specialty">
                                            <span>مشاور نساجی</span>
                                        </div>
                                        <ul class="skills">
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>آموزش راه اندازی</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#false"></use>
                                                </svg>
                                                <span>تامین دستگاه و کمک برای سر هم کردن</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>مواد اولیه برای شروع کار</span>
                                            </li>
                                            <li>
                                                <svg class="navigation-btn">
                                                    <use href="./icons.svg#true"></use>
                                                </svg>
                                                <span>کمک به فروش صنایع شما</span>
                                            </li>
                                        </ul>

                                        <a href="#" class="more">
                                            <span>ارتباط با مشاور</span
                                            ><svg class="navigation-btn">
                                                <use href="./icons.svg#arrow-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="more"> مشاهده تمامی مشاوران </a>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="section-1">
                    <div class="about">
                        <img src="./images/footer-logo.png" alt="" />
                        <h2>کارآفرینی نحک</h2>
                        <h5>کارتو با نحک بساز</h5>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                        </p>
                    </div>
                    <div class="parent-links">
                        <div class="links">
                            <div class="title">
                                <h5>دسترسی آسان</h5>
                            </div>
                            <div class="links-wrapper">
                                <a href="#">صفحه اصلی</a>
                                <a href="#">نمایش شغل</a>
                                <a href="#">معرفی BDS</a>
                                <a href="#">درخوسات برای کار</a>
                                <a href="#">درخوسات برای کار</a>
                            </div>
                        </div>
                    </div>

                    <div class="social-networks">
                        <h3>شبکه های اجتماعی</h3>
                        <p>نحک را در شبکه های اجتماعی دنبال کنید</p>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" />
                                <span>اینستاگرام</span>
                                <div class="icon">
                                    <svg>
                                        <use href="./icons.svg#sm-left-arrow"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="symbols">
                        <h3>نماد های نحک</h3>

                        <div class="parent-symbols-swiper">
                            <div class="symbols-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./images/sym.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="symbols-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="section-2">
                    <div class="location">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#location"></use>
                            </svg>
                            <span>آدرس</span>
                        </div>
                        <p><span>دفترمرکزی :</span>یزد، بلوارجمهوری اسلامی، نبش کوچه شرق، ساختمان آنا، طبقه اول</p>
                    </div>
                    <div class="phone">
                        <div class="title">
                            <svg>
                                <use href="./icons.svg#phone"></use>
                            </svg>
                            <span>شماره تماس</span>
                        </div>
                        <p>035-35220458-9</p>
                    </div>

                    <div class="social-networks">
                        <div class="title">
                            <span>شبکه های اجتماعی</span>
                        </div>
                        <div class="links-wrapper">
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="./images/home/instagram.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./js/handel-menu.js"></script>
        <script src="./js/purecounter.js"></script>
        <script src="./plugins/slider/swiper/swiper-bundle.min.js"></script>
        <script src="./js/handel-video.js"></script>
        <script src="./js/tabs-and-splide.js"></script>
    </body>
</html>
