.contact-information-po {
  font-size: 15px;
}

.contact-information-po .container > .title {
  display: flex;
  align-items: center;
  column-gap: 1.25em;
  margin-bottom: 3.25em;
}

.contact-information-po .container > .title h5 {
  font-weight: 700;
  font-size: 2.5em;
  color: #070d16;
  margin-bottom: 0;
}

.contact-information-po .container > .title img {
  width: 2.19em;
}

@media only screen and (max-width: 991px) {
  .contact-information-po {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-information-po {
    font-size: 13px;
  }
}

@media only screen and (max-width: 575px) {
  .contact-information-po .container > .title h5 {
    font-size: 2em;
  }
}

.contact-information {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  font-size: 15px;
}

.contact-information > .title {
  display: flex;
  align-items: center;
  column-gap: 1.25em;
}

.contact-information > .title h5 {
  font-weight: 500;
  font-size: 1.5em;
  color: #131628;
  margin-bottom: 0;
}

.contact-information > .title img {
  width: 1.5em;
}

.contact-information .infos {
  display: flex;
  column-gap: 3.93em;
  row-gap: 1.5em;
  flex-wrap: wrap;
}

.contact-information .infos .info {
  display: flex;
  align-items: center;
  column-gap: 1.2em;
  flex-wrap: wrap;
  row-gap: 0.6em;
}

.contact-information .infos .info span:first-of-type {
  font-weight: 500;
  font-size: 1.25em;
  color: #9ba2b1;
}

.contact-information .infos .info span:last-of-type {
  font-weight: 400;
  font-size: 1.125em;
  color: #1d3557;
}

@media only screen and (max-width: 991px) {
  .contact-information {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-information {
    font-size: 13px;
  }
}

@media only screen and (max-width: 575px) {
  .contact-information .infos .info span:first-of-type {
    font-size: 1.24em;
  }
  .contact-information .infos .info span:last-of-type {
    font-size: 1.24em;
  }
}
