.nahak-breadcrumb-2 {
  font-size: 15px;
}

.nahak-breadcrumb-2 .main-box {
  min-height: 25.12em;
  background: red;
  border-radius: 1.81em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.nahak-breadcrumb-2 .main-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #119699;
  opacity: 0.9;
  z-index: 2;
}

.nahak-breadcrumb-2 .main-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.nahak-breadcrumb-2 .main-box .content {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
  justify-content: center;
  align-items: center;
}

.nahak-breadcrumb-2 .main-box .content > h3 {
  font-weight: 900;
  font-size: 3.56em;
  color: #ffc484;
  margin-bottom: 0;
}

.nahak-breadcrumb-2 .main-box .content > h5 {
  font-weight: 400;
  font-size: 1.25em;
  color: #f2f7fa;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .nahak-breadcrumb-2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .nahak-breadcrumb-2 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 575px) {
  .nahak-breadcrumb-2 {
    font-size: 12px;
  }
  .nahak-breadcrumb-2 .main-box {
    min-height: 22.12em;
  }
  .nahak-breadcrumb-2 .main-box .content h3 {
    font-size: 2.1em;
  }
  .nahak-breadcrumb-2 .main-box .content h5 {
    font-size: 1.2em;
  }
}
